*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.main {
  margin: 0 auto;
  width: 80%;
}
a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.head,
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #047e79;
  width: 100%;
  height: 93px;
}
.head_bg {
  position: absolute;
  background: #047e79;
  width: 100%;
  height: 93px;
  z-index: -1;
}
.menu > div {
  margin-left: 50px;
}
.avatar {
  width: 235px;
  height: 235px;
  border-radius: 273px;
  background-color: rgba(238, 122, 8, 0.53);
  margin: 0 auto;
}
.name {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.name_user {
  color: #7a7a7a;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px;
}
.info_user {
  width: 757px;
  height: fit-content;
  flex-shrink: 0;
  background: #d9d9d9;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: #000 1px solid;
  margin: 20px;
}
.section{
  margin-top: 5%;
}
.section > .info_user {
  margin: 0 auto;
}
/* burger-menu */
body input + label {
  position: absolute;
  top: 14px;
  left: 14px;
  height: 20px;
  width: 21px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: 0.5s;
}
.logo,
.profile {
  z-index: 6;
}
.checkbox {
  display: none;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body input ~ nav {
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}
/* adaptability */
@media screen and (max-width: 2560px) and (min-width: 881px) {
  .btn_hiden {
    display: none;
  }
}
@media screen and (max-width: 2560px) and (min-width: 648px) {
  .breadcrumps_hiden {
    display: none;
  }
}
@media screen and (max-width: 2560px) and (min-width: 533px) {
  .burger-menu_hiden {
    display: none;
  }
}

@media (max-width: 532px) {
  .menu {
    display: none;
  }
}
